body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: .5em;
  font-family: Arial, Ubuntu, sans-serif;
}

.message {
  margin-top: .5em;
  margin-bottom: .5em;
  border: #dedede solid 1px;
  padding: .5em;
  border-radius: .3em;
}

.message-info{
  color: #3C3597;
  background-color: #CEDEFF;
}

.message-success{
  color: #2F7C49;
  background-color: #D1F3DA;
}

.message-warning{
  color: #9E8C34;
  background-color: #FCFBC9;
}

.message-error{
  color: #8B2E41;
  background-color: #F9D3D7;
}

