*{
  box-sizing: border-box;

}

body{
  background: linear-gradient(90deg, #4b6763, #6dafe2, #e5e58e, #4a2c1f);
  background-size: 400%;
  animation: change 10s ease-in-out alternate infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
.inputs {
  width: 95%;
  margin: 0 auto 10px auto;
}

#days {
  width: calc(95% + 16px);
  margin: 10px auto 10px auto;
  /*background: rgba(0, 0, 0, 0);*/
  height: 260px;
  /*height: 300px;*/
  /*overflow-x: auto;*/
  /*overflow-y: hidden;*/

}
#map {
}
.weatherCard {
  width: 20%;
  /*background-color: #5a5959;*/
  border: 1px solid rgba(255, 255, 255, 0.32);

}
.icons{
  flex-basis: 40%;
  background-color: #3c7885;
}
.cardInfo{
  flex-basis: 50%;
  border: none;
  /*background-color: #5a5959;*/
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  /*background-color: #5a5959;*/
  padding-top: 5px;

}
.cardList {
  /*background-color: #5a5959;*/
  /*justify-content: space-between;*/
  text-align: center;
  display: flex;


}
.jumbotron {
  height:20px;
}

/*.grow{*/
/*  transition: all .2s ease-in-out;*/
/*}*/
/*.grow:hover {*/
/*  transform: scale(1.1) ;*/
/*}*/
/* Add this to cards*/
.list-group-item {
  background: rgba(52, 58, 64, 0);
  border: 1px solid rgba(255, 255, 255, 0.32);
  padding: .80rem .50rem;
  flex-basis: 20%;
  font-size: 0.9rem;
}

.fa-temperature-high {
  /*color: linear-gradient(200deg, #ff0000, #b33100, #99992d);*/
  /*color: white;*/
  /*font-size: 72px;*/
  background: -webkit-linear-gradient(#de0000, #a76f0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-temperature-low {
  /*background-image: linear-gradient(200deg, blue, red, yellow);*/
  /*color: white;*/
  background: -webkit-linear-gradient(#0038de, #d6d6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
  /*margin-left: auto;*/
}
